/*Telerik RadGrid Sunset Skin*/

/*global*/

.RadGrid_Sunset
{
	background:#f4ede1;
	color:#272522;
}

.RadGrid_Sunset,
.RadGrid_Sunset .rgMasterTable,
.RadGrid_Sunset .rgDetailTable,
.RadGrid_Sunset .rgGroupPanel table,
.RadGrid_Sunset .rgCommandRow table,
.RadGrid_Sunset .rgEditForm table,
.GridToolTip_Sunset
{
	font:11px arial,sans-serif;
}

.RadGrid_Sunset,
.RadGrid_Sunset .rgDetailTable
{
	border:1px solid #cbbda9;
	border-top-color:#958e84;
}

.RadGrid_Sunset .rgMasterTable,
.RadGrid_Sunset .rgDetailTable
{
	border-collapse:separate;
}

.RadGrid_Sunset .rgRow td,
.RadGrid_Sunset .rgAltRow td,
.RadGrid_Sunset .rgEditRow td,
.RadGrid_Sunset .rgFooter td,
.RadGrid_Sunset .rgFilterRow td,
.RadGrid_Sunset .rgHeader,
.RadGrid_Sunset th.rgResizeCol,
.RadGrid_Sunset .rgGroupHeader td
{
	padding-left:4px;
	padding-right:4px;
}

.RadGrid_Sunset .rgAdd,
.RadGrid_Sunset .rgRefresh,
.RadGrid_Sunset .rgEdit,
.RadGrid_Sunset .rgDel,
.RadGrid_Sunset .rgFilter,
.RadGrid_Sunset .rgPagePrev,
.RadGrid_Sunset .rgPageNext,
.RadGrid_Sunset .rgPageFirst,
.RadGrid_Sunset .rgPageLast,
.RadGrid_Sunset .rgExpand,
.RadGrid_Sunset .rgCollapse,
.RadGrid_Sunset .rgSortAsc,
.RadGrid_Sunset .rgSortDesc,
.RadGrid_Sunset .rgUpdate,
.RadGrid_Sunset .rgCancel
{
	width:16px;
	height:16px;
	border:0;
	padding:0;
	background-color:transparent;
	background-image:url('Grid/sprite.gif');
	background-repeat:no-repeat;
	font-size:1px;
	cursor:pointer;
}

.RadGrid_Sunset .rgGroupItem input,
.RadGrid_Sunset .rgCommandRow img,
.RadGrid_Sunset .rgHeader input,
.RadGrid_Sunset .rgFilterRow img,
.RadGrid_Sunset .rgPager img
{
	vertical-align:middle;
}

/*header*/

.RadGrid_Sunset .rgHeaderDiv
{
	background:url('Grid/sprite.gif') 0 -1397px repeat-x;
}

.RadGrid_Sunset .rgHeader,
.RadGrid_Sunset th.rgResizeCol
{
	border-bottom:1px solid #8f2b00;
	padding-top:8px;
	padding-bottom:8px;
	background:#b05a33 url('Grid/sprite.gif') 0 0 repeat-x;
	font-size:13px;
	font-weight:normal;
	text-align:left;
}

.RadGrid_Sunset .rgHeader,
.RadGrid_Sunset .rgHeader a
{
	color:#fff;
	text-decoration:none;
}

/*rows*/

.RadGrid_Sunset .rgRow
{
	background:#ebe4d6;
}

.RadGrid_Sunset .rgRow td,
.RadGrid_Sunset .rgAltRow td,
.RadGrid_Sunset .rgEditRow td,
.RadGrid_Sunset .rgFooter td
{
	padding-top:4px;
	padding-bottom:4px;
}

.RadGrid_Sunset .rgRow a,
.RadGrid_Sunset .rgAltRow a,
.RadGrid_Sunset .rgEditRow a,
.RadGrid_Sunset .rgFooter a,
.RadGrid_Sunset .rgEditForm a
{
	color:#272522;
}

.RadGrid_Sunset .rgRow td
{
	border-top:1px solid #ebe4d6;
	border-bottom:1px solid #ebe4d6;
}

.RadGrid_Sunset .rgAltRow td
{
	border-top:1px solid #f4ede1;
	border-bottom:1px solid #f4ede1;
}

.RadGrid_Sunset .rgSelectedRow
{
	background:#fdd0b7 url('Grid/sprite.gif') 0 -200px repeat-x;
}

.RadGrid_Sunset .rgSelectedRow td
{
	border-top:1px solid #d07052;
	border-bottom:1px solid #d07052;
}

.RadGrid_Sunset .rgActiveRow,
.RadGrid_Sunset .rgHoveredRow
{
	background:#fff;
}

.RadGrid_Sunset .rgEditRow
{
	background:#ffe2d7;
}

.RadGrid_Sunset .rgEditRow td
{
	border-top:1px solid #d07052;
	border-bottom:1px solid #d07052;
}

/*footer*/

.RadGrid_Sunset .rgFooter td
{
	border-top:1px solid #e7e1d8;
}

/*status*/

.RadGrid_Sunset .rgPager .rgStatus
{
	width:35px;
	border-top:1px solid #cbbda9;
	border-right:1px solid #cbbda9;
	border-bottom:1px solid #e7e1d8;
	padding:3px 0 2px;
}

.RadGrid_Sunset .rgStatus div
{
	width:24px;
	height:24px;
	overflow:hidden;
	border:0;
	margin:0 auto;
	padding:0;
	background:transparent;
	text-indent:-2222px;
}

/*paging*/

.RadGrid_Sunset .rgPager
{
	background:#ddddc7;
	line-height:20px;
}

.RadGrid_Sunset .rgPager td
{
	padding:0;
}

.RadGrid_Sunset .rgPager .rgPagerCell
{
	border-top:1px solid #cbbda9;
	border-bottom:1px solid #e7e1d8;
}

.RadGrid_Sunset .rgPagePrev
{
	background-position:5px -713px;
}

.RadGrid_Sunset .rgPageNext
{
	background-position:-21px -713px;
}

.RadGrid_Sunset .rgPageFirst
{
	background-position:4px -683px;
}

.RadGrid_Sunset .rgPageLast
{
	background-position:-20px -683px;
}

.RadGrid_Sunset .rgWrap
{
	float:left;
	padding:0 10px;
	line-height:26px;
	white-space:nowrap;
}

.RadGrid_Sunset .rgArrPart1
{
	padding-right:0;
	line-height:22px;
}

.RadGrid_Sunset .rgArrPart2
{
	padding-left:0;
	line-height:22px;
}

.RadGrid_Sunset .rgInfoPart
{
	float:right;
}

.RadGrid_Sunset .rgInfoPart strong
{
	font-weight:normal;
}

.RadGrid_Sunset .rgPageFirst,
.RadGrid_Sunset .rgPagePrev,
.RadGrid_Sunset .rgPageNext,
.RadGrid_Sunset .rgPageLast
{
	height:24px;
}

.RadGrid_Sunset .rgPagerButton
{
	height:22px;
	border:1px solid #a49074;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	background:#cbbda9;
	color:#8f2b00;
	font:12px/12px arial,sans-serif;
	vertical-align:middle;
	cursor:pointer;
}

.RadGrid_Sunset .rgNumPart
{
	padding:2px 0;
}

.RadGrid_Sunset .NumericPages .rgNumPart
{
	padding:2px 10px;
}

.RadGrid_Sunset .rgNumPart a
{
	float:left;
	line-height:22px;
	margin:0;
	padding:0 5px 0 0;
	color:#666;
	text-decoration:none;
}

.RadGrid_Sunset .rgNumPart span
{
	float:left;
	padding:0 0 0 5px;
}

.RadGrid_Sunset .rgNumPart a:hover
{
	color:#000;
	text-decoration:underline;
}

.RadGrid_Sunset .rgNumPart a:hover span
{
	cursor:pointer;
}

.RadGrid_Sunset .rgNumPart a.rgCurrentPage,
.RadGrid_Sunset .rgNumPart a.rgCurrentPage:hover
{
	cursor:default;
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

.RadGrid_Sunset .rgNumPart a.rgCurrentPage span,
.RadGrid_Sunset .rgNumPart a.rgCurrentPage:hover span
{
	cursor:default;
}

.RadGrid_Sunset .NextPrevNumericAndAdvanced .rgAdvPart
{
	float:none;
	text-align:center;
}

.RadGrid_Sunset .rgPager .RadSlider
{
	float:left;
	margin:2px 10px 0 0;
}

.RadGrid_Sunset .rgPagerLabel,
.RadGrid_Sunset .rgPager .RadComboBox,
.RadGrid_Sunset .rgPager .RadInput_Sunset
{
	margin:0 4px 0 0;
	vertical-align:middle;
}

.RadGrid_Sunset .rgPager .RadComboBox
{
	margin-top:-1px;
}
*+html .RadGrid_Sunset .rgPager .RadComboBox{margin-top:-2px;}
* html .RadGrid_Sunset .rgPager .RadComboBox{margin-top:-2px;}

.RadGrid_Sunset .rgPagerTextBox
{
	text-align:center;
}

/*sorting, reordering*/

.RadGrid_Sunset .rgHeader .rgSortAsc
{
	background-position:-18px -598px;
	height:12px;
}

.RadGrid_Sunset .rgHeader .rgSortDesc
{
	background-position:3px -597px;
	height:12px;
}

.GridReorderTop_Sunset,
.GridReorderBottom_Sunset
{
	width:11px !important;
	height:11px !important;
	margin-left:-5px;
	background:url('Grid/sprite.gif') 0 -751px no-repeat;
}

.GridReorderBottom_Sunset
{
	background-position:-21px -751px;
}

/*filtering*/

.RadGrid_Sunset .rgFilterRow td
{
	padding-top:5px;
	padding-bottom:5px;
}

.RadGrid_Sunset .rgFilter
{
	background-position:2px -656px;
}

.RadGrid_Sunset .rgFilterBox
{
	border:1px solid #bbb894;/**/
	font:12px arial,sans-serif;
	color:#272522;
	vertical-align:middle;
}

/*grouping*/

.RadGrid_Sunset .rgGroupPanel
{
	border-top:1px solid #bfb9b2;
	border-bottom:1px solid #6a6255;
	background:#988e83 url('Grid/sprite.gif') 0 -997px repeat-x;
	color:#fff;
}

.RadGrid_Sunset .rgGroupPanel .rgSortAsc
{
	background-position:-21px -776px;
}

.RadGrid_Sunset .rgGroupPanel .rgSortDesc
{
	background-position:4px -775px;
}

.RadGrid_Sunset .rgGroupPanel td
{
	border-bottom:1px solid #a39b8f;
	padding:6px 5px;
}

.RadGrid_Sunset .rgGroupPanel td td
{
	border:0;
	padding:0;
}

.RadGrid_Sunset .rgGroupHeader
{
	background:#faf7e7;
	color:#a43a00;
	font-size:13px;
}

.RadGrid_Sunset .rgGroupHeader td
{
	border-bottom:1px solid #c4b7a2;
	padding-top:3px;
	padding-bottom:3px;
}

.RadGrid_Sunset .rgExpand
{
	background-position:-21px -627px;
}

.RadGrid_Sunset .rgCollapse
{
	background-position:3px -626px;
}

.RadGrid_Sunset .rgGroupHeader td div
{
	top:-0.6em;
}

.RadGrid_Sunset .rgGroupHeader td div div
{
	top:0;
}

/*editing*/

.RadGrid_Sunset .rgEditForm
{
	border-bottom:1px solid #cbbda9;
}

.RadGrid_Sunset .rgUpdate
{
	background-position:3px -930px;
}

.RadGrid_Sunset .rgCancel
{
	background-position:3px -962px;
}

/*hierarchy*/

.RadGrid_Sunset .rgDetailTable
{
	border-right:0;
}

/*command row*/

.RadGrid_Sunset .rgCommandRow
{
	background:#746c61 url('Grid/sprite.gif') 0 -1197px repeat-x;
	color:#fff;
}

.RadGrid_Sunset .rgCommandRow td
{
	border:0;
	border-top:1px solid #9f9990;
	border-bottom:1px solid #4c453c;
	padding:0;
}

.RadGrid_Sunset .rgCommandRow td td
{
	border:0;
	padding:3px 5px;
}

.RadGrid_Sunset .rgCommandRow td td td
{
	padding:1px;
}

.RadGrid_Sunset .rgCommandRow table
{
	border:0;
	border-bottom:1px solid #7f776c;
}

.RadGrid_Sunset .rgCommandRow table table
{
	border:0;
}

.RadGrid_Sunset .rgCommandRow a
{
	color:#fff;
	text-decoration:none;
}

.RadGrid_Sunset .rgAdd
{
	background-position:0 -841px;
}

.RadGrid_Sunset .rgRefresh
{
	background-position:0 -901px;
}

.RadGrid_Sunset .rgEdit
{
	background-position:0 -810px;
}

.RadGrid_Sunset .rgDel
{
	background-position:0 -871px;
}

/*multirow select*/

.GridRowSelector_Sunset
{
	background:#555;
}

/*row drag n drop*/

.GridItemDropIndicator_Sunset
{
    border-top:1px dashed #666;
}

/*tooltip*/

.GridToolTip_Sunset
{
	border:1px solid #cbbda9;
	padding:3px;
	background:#ebe4d6;
	color:#272522;
}

/*rtl*/

.RadGridRTL_Sunset .rgHeader,
.RadGridRTL_Sunset th.rgResizeCol
{
	text-align:right;
}

.RadGridRTL_Sunset .rgWrap
{
	float:right;
}

.RadGridRTL_Sunset .rgInfoPart
{
	float:left;
}

.RadGridRTL_Sunset .rgNumPart
{
	width:220px;
}

.RadGridRTL_Sunset .rgNumPart a
{
	float:right;
}